$light-bg-color: #eee;
$dark-bg-color: #41528f;
$highlights: #b0d5ea;
$base-font-color: #333;
$dark-font-color: #d96866;
$light-font-color: #ea8b7e;





body {
  background-color: $light-bg-color;
  color: $base-font-color;
}

nav {
  height: 70px;
  background-color: $light-bg-color;

  ul {

  }

  li {

  }

  a {

  }
}
